html,
body {
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (orientation: portrait) {
    .main-menu {
        position: fixed;
        bottom: 0%;
        transform: translateX(-50%);
        left: 50%;
        transform-origin: left top;
    }

    .main-menu .floating-btn {
        display: block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: red;
        color: white;
        border: 2px solid white;
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
        text-align: center;
        font-size: 7vw;
/*         line-height: 2.1em; */
    }

    .main-menu.active .floating-btn {
        box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
        animation: none;
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .main-menu .floating-btn:active {
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
    }

    .main-menu .floating-btn i {
        /*     font-size: 1.3em; */
        transition: transform 0.2s;
    }

    .main-menu.active .floating-btn i {
        transform: rotate(-45deg);
    }

    .main-menu.active:after {
        transform: scale3d(5.5, 5.5, 1);
        transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    }

    .main-menu .main-menu-options {
        padding: 0;
        margin: 0;
    }

    .main-menu .menu-item {
        position: fixed;
        top: 0.2em;
        right: 0.3em;
        z-index: -1;
        display: block;
        text-decoration: none;
        font-size: 5.5vw;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease;
    }

    .main-menu .menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .main-menu.active .menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .main-menu.active .menu-item:nth-child(1) {
        transform: translate3d(3em, 0em, 0);
    }

    .main-menu.active .menu-item:nth-child(2) {
        transform: translate3d(0em, -3em, 0);
        transition-delay: 0.05s;
    }

    .main-menu.active .menu-item:nth-child(3) {
        transform: translate3d(-3em, 0em, 0);
        transition-delay: 0.1s;
    }

    /*MAINMENU SHARE BUTTON*/
    .main-menu .share-menu-item {
        position: fixed;
        top: 0.2em;
        right: -2.6em;
        display: block;
        text-decoration: none;
        font-size: 5.5vw;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease, visibility 0.1s ease;
        visibility: hidden;
    }

    .main-menu .share-menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .share-menu-options.active .share-menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    /* Set the defaults of the share buttons*/
    .share-menu-options .share-menu-item:nth-child(2) {
        z-index: -2;
    }

    .share-menu-options .share-menu-item:nth-child(3) {
        z-index: -3;
        transform: translate3d(-0.9em, -2.1em, 0em);
    }

    .share-menu-options .share-menu-item:nth-child(4) {
        z-index: -4;
        transform: translate3d(-3em, -3em, 0em);
    }

    .share-menu-options .share-menu-item:nth-child(5) {
        z-index: -5;
        transform: translate3d(-5.1em, -2.1em, 0em);
    }

    /* Place Download to share position */
    .share-menu-options.active .share-menu-item:nth-child(1) {
        visibility: visible;
    }

    /* Move SMS to first position */
    .share-menu-options.active .share-menu-item:nth-child(2) {
        transform: translate3d(-0.9em, -2.1em, 0);
        visibility: visible;
    }

    /* Move Instagram to second position */
    .share-menu-options.active .share-menu-item:nth-child(3) {
        transform: translate3d(-3em, -3em, 0);
        visibility: visible;
    }

    /* Move Facebook to thrid position */
    .share-menu-options.active .share-menu-item:nth-child(4) {
        transform: translate3d(-5.1em, -2.2em, 0);
        visibility: visible;
    }

    /* Move Twitter to last position */
    .share-menu-options.active .share-menu-item:nth-child(5) {
        transform: translate3d(-6em, 0em, 0);
        visibility: visible;
    }

    /* SOCIAL MEDIA BUTTONS */
    .social-menu {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
    }

    .social-menu .floating-btn {
        display: block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: red;
        color: white;
        border: 2px solid white;
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
        text-align: center;
        font-size: 7vw;
        line-height: 2.1em;
    }

    .social-menu.active .floating-btn {
        box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
        animation: none;
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .social-menu .floating-btn:active {
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
    }

    .social-menu .floating-btn i {
        font-size: 1.3em;
        transition: transform 0.2s;
    }

    .social-menu.active .floating-btn i {
        transform: rotate(-45deg);
    }

    .social-menu.active:after {
        transform: scale3d(5.5, 5.5, 1);
        transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    }

    .social-menu .main-menu-options {
        padding: 0;
        margin: 0;
    }

    .social-menu .menu-item {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        z-index: -1;
        display: block;
        text-decoration: none;
        font-size: 5.5vw;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease, background 0.2s ease;
    }

    .social-menu .menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .social-menu.active .menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .social-menu.active .menu-item:nth-child(1) {
        transform: translate3d(0, -4em, 0);
    }

    .social-menu.active .menu-item:nth-child(2) {
        transform: translate3d(-2.3em, -3.8em, 0);
        transition-delay: 0.05s;
    }

    .social-menu.active .menu-item:nth-child(3) {
        transform: translate3d(-4em, -2.3em, 0);
        transition-delay: 0.1s;
    }

    .social-menu.active .menu-item:nth-child(4) {
        transform: translate3d(-4.5em, 0, 0);
        transition-delay: 0.15s;
    }
}

/* LANDSCAPE ORIENTATION */
@media screen and (orientation: landscape) {
    /*IPHONE XR*/
    @media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        .main-menu {
            position: fixed;
            right: 0%;
            bottom: 53vh;
            transform: rotate(-90deg);
        }
        .main-menu .floating-btn {
            font-size: 2.7vw;
        }
        .main-menu .menu-item {
            font-size: 2vw;
        }
        .main-menu .share-menu-item {
            font-size: 2vw;
        }
        .social-menu .floating-btn {
            font-size: 2.7vw;
        }
        .social-menu .menu-item {
            font-size: 2vw;
        }
    }
    /*Ipad Pro*/
    @media only screen and (min-width: 1224px) and (-webkit-min-device-pixel-ratio: 2) {
        .main-menu {
            position: fixed;
            right: 0%;
            bottom: 43vh;
            transform: rotate(-90deg);
        }
        .main-menu .floating-btn {
            font-size: 3vw;
        }
        .main-menu .menu-item {
            font-size: 2.5vw;
        }
        .main-menu .share-menu-item {
            font-size: 2.5vw;
        }
        .social-menu .floating-btn {
            font-size: 3vw;
        }
        .social-menu .menu-item {
            font-size: 2.5vw;
        }
    }
    .main-menu .floating-btn {
        display: block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: red;
        color: white;
        border: 2px solid white;
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
        text-align: center;
/*         line-height: 2.1em; */
    }
    .main-menu.active .floating-btn {
        box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
        animation: none;
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .main-menu .floating-btn:active {
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
    }

    .main-menu .floating-btn i {
        /*     font-size: 1.3em; */
        transition: transform 0.2s;
    }

    .main-menu.active .floating-btn i {
        transform: rotate(-45deg);
    }

    .main-menu.active:after {
        transform: scale3d(5.5, 5.5, 1);
        transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    }

    .main-menu .main-menu-options {
        padding: 0;
        margin: 0;
    }

    .main-menu .menu-item {
        position: fixed;
        transform: rotateZ(90deg);
        top: 0.16em;
        right: 0.2em;
        z-index: -1;
        display: block;
        text-decoration: none;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease;
    }

    .main-menu .menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .main-menu.active .menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .main-menu.active .menu-item:nth-child(1) {
        transform: translate3d(3em, 0em, 0) rotateZ(90deg);
    }

    .main-menu.active .menu-item:nth-child(2) {
        transform: translate3d(0em, -3em, 0) rotateZ(90deg);
        transition-delay: 0.05s;
    }

    .main-menu.active .menu-item:nth-child(3) {
        transform: translate3d(-3em, 0em, 0) rotateZ(90deg);
        transition-delay: 0.1s;
    }

    /*MAINMENU SHARE BUTTON*/
    .main-menu .share-menu-item {
        position: absolute;
        transform: rotateZ(90deg);
        top: 0.2em;
        right: -2.7em;
        display: inline-block;
        text-decoration: none;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease, visibility 0.1s ease;
        visibility: hidden;
    }

    .main-menu .share-menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .share-menu-options.active .share-menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    /* Set the defaults of the share buttons*/
    .share-menu-options .share-menu-item:nth-child(2) {
        z-index: -2;
    }
    .share-menu-options .share-menu-item:nth-child(3) {
        z-index: -3;
        transform: translate3d(-0.9em, -2.1em, 0em);
    }
    .share-menu-options .share-menu-item:nth-child(4) {
        z-index: -4;
        transform: translate3d(-3em, -3em, 0em);
    }
    .share-menu-options .share-menu-item:nth-child(5) {
        z-index: -5;
        transform: translate3d(-5.1em, -2.1em, 0em);
    }

    /* Place Download to share position */
    .share-menu-options.active .share-menu-item:nth-child(1) {
        transform: rotateZ(90deg);
        visibility: visible;
    }

    /* Move SMS to first position */
    .share-menu-options.active .share-menu-item:nth-child(2) {
        transform: translate3d(-0.9em, -2.1em, 0) rotateZ(90deg);
        visibility: visible;
    }

    /* Move Instagram to second position */
    .share-menu-options.active .share-menu-item:nth-child(3) {
        transform: translate3d(-3em, -3em, 0) rotateZ(90deg);
        visibility: visible;
    }

    /* Move Facebook to thrid position */
    .share-menu-options.active .share-menu-item:nth-child(4) {
        transform: translate3d(-5.1em, -2.2em, 0) rotateZ(90deg);
        visibility: visible;
    }

    /* Move Twitter to last position */
    .share-menu-options.active .share-menu-item:nth-child(5) {
        transform: translate3d(-6em, 0em, 0) rotateZ(90deg);
        visibility: visible;
    }

    /* SOCIAL MEDIA BUTTONS */
    .social-menu {
        position: fixed;
        right: 1vw;
        top: 2vw;
        transform: rotate(-90deg);
    }

    .social-menu .floating-btn {
        display: block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: red;
        color: white;
        border: 2px solid white;
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
        text-align: center;
        line-height: 2.1em;
    }

    .social-menu.active .floating-btn {
        box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
        animation: none;
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .social-menu .floating-btn:active {
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
    }

    .social-menu .floating-btn i {
        transform: rotate(90deg);
        font-size: 1.3em;
        transition: transform 0.2s;
    }

    .social-menu.active .floating-btn i {
        transform: rotate(45deg);
    }

    .social-menu.active:after {
        transform: scale3d(5.5, 5.5, 1);
        transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    }

    .social-menu .main-menu-options {
        padding: 0;
        margin: 0;
    }

    .social-menu .menu-item {
        transform: rotate(90deg);
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        z-index: -1;
        display: block;
        text-decoration: none;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.1em;
        background-color: red;
        color: white;
        border: 2px solid white;
        transition: transform 0.3s ease, background 0.2s ease;
    }

    .social-menu .menu-item:hover {
        background-color: white;
        color: red;
        border: 2px solid red;
    }

    .social-menu.active .menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    /*IPHONE XR*/
    @media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        .social-menu.active .menu-item:nth-child(1) {
            transform: translate3d(0.5em, -3.3em, 0) rotate(90deg);
        }

        .social-menu.active .menu-item:nth-child(2) {
            transform: translate3d(-1.7em, -3.3em, 0) rotate(90deg);
            transition-delay: 0.05s;
        }

        .social-menu.active .menu-item:nth-child(3) {
            transform: translate3d(-3.3em, -1.7em, 0) rotate(90deg);
            transition-delay: 0.1s;
        }

        .social-menu.active .menu-item:nth-child(4) {
            transform: translate3d(-3.5em, 0.5em, 0) rotate(90deg);
            transition-delay: 0.15s;
        }
    }
    /*Ipad Pro*/
    @media only screen and (min-width: 1224px) and (-webkit-min-device-pixel-ratio: 2) {
        .social-menu.active .menu-item:nth-child(1) {
            transform: translate3d(0, -4em, 0) rotate(90deg);
        }

        .social-menu.active .menu-item:nth-child(2) {
            transform: translate3d(-2.3em, -3.8em, 0) rotate(90deg);
            transition-delay: 0.05s;
        }

        .social-menu.active .menu-item:nth-child(3) {
            transform: translate3d(-4em, -2.3em, 0) rotate(90deg);
            transition-delay: 0.1s;
        }

        .social-menu.active .menu-item:nth-child(4) {
            transform: translate3d(-4.5em, 0, 0) rotate(90deg);
            transition-delay: 0.15s;
        }
    }
}

